<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="fragments/header :: header"></div>
</head>
<body>
<div th:replace="fragments/navbar :: navbar ('pedido')"></div>
<div class="container">
    <div class="row mt-5">
        <div class="col-lg-12 d-flex justify-content-center" th:if="${atencion == null}">
            <div class="alert alert-light my-auto" role="alert">
                <h4>LO SENTIMOS, NO TIENES UNA MESA ASIGNADA. NO PUEDES ORDENAR AÚN</h4>
            </div>
        </div>
        <div class="col-12" th:if="${atencion}">
            <div class="alert alert-info" role="alert">
                <h5 class="display-5 m-0"><i class="fa fa-info-circle pr-1" aria-hidden="true"></i> Tienes asignada la mesa N&deg; <span th:text="${atencion.numeroMesa}"></span>. Nuestro equipo en la cocina espera tu pedido</h5>
            </div>
        </div>
        <div class="col-lg-12 d-flex justify-content-center" th:if="${atencion} and ${itemsPedido.size() == 0}">
            <div class="alert alert-light my-auto" role="alert" th:if="${pedido == null}">
                <h4>NO HAS PEDIDO AÚN</h4>
            </div>
        </div>
        <div class="col-lg-12" th:if="${atencion} and ${itemsPedido.size() > 0}">
            <div class="alert alert-success" role="alert" th:if="${pedido} and ${pedido.estado != 'ENTREGADO'}">
                <h4 class="alert-heading">Tu pedido ha sido ingresado con éxito!</h4>
                <p>Nuestro equipo en la cocina pronto comenzará la preparación de lo que ordenaste.</p>
                <hr>
                <p class="mb-0">En breve estaremos informando sobre el estado de tu pedido.</p>
            </div>
            <ul class="list-group list-group-flush mb-4">
                <li class="list-group-item" th:each="item : ${itemsPedido}">
                    <div class="d-flex">
                        <h6 class="m-0 mr-2 align-self-center" th:text="${recetas.get(item.value.recetaId).nombre}"></h6>
                        <small class="text-muted align-self-center" th:text="${item.value.comentario}"></small>
                        <div class="ml-auto">
                            <small class="text-mutted"
                                   th:text="${#strings.replace(#strings.replace(#numbers.formatCurrency(recetas.get(item.value.recetaId).precio), '.00', ''), ',', '.')}"></small>
                            <a href="#" role="button" class="btn btn-outline-danger btn-sm"
                               th:if="${pedido == null}" th:href="@{/pedido/items/{id}/quitar(id=${item.key})}"
                               data-toggle="tooltip" data-placement="right" title="Quitar"><i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <small class="text-muted" th:if="${item.value.estado}" th:text="${item.value.estado}"></small>
                </li>
            </ul>
            <form action="#" th:action="@{/pedido}" method="POST" th:if="${pedido == null}">
                <div class="form-group mb-1">
                    <div class="input-group">
                        <input type="hidden" class="form-control" th:value="${atencion.id}" th:name="atencion-id"/>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary float-right">CONFIRMAR PEDIDO</button>
            </form>
            <div th:if="${pedido != null}">
                <a href="#" th:href="@{/cuenta}" role="button" class="btn btn-primary float-right">PEDIR CUENTA</a>
            </div>
        </div>
    </div>
</div>

<div th:insert="fragments/common-scripts :: common-scripts"></div>
</body>
</html>
