<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="fragments/header :: header"></div>
</head>
<body>
<div th:replace="fragments/navbar :: navbar ('reservaciones')"></div>
<div class="container">
    <div class="row mt-5">
        <div class="col-lg border ml-2 mr-2" th:insert="fragments/form-reserva :: form-reserva (reservacion)"></div>
        <div class="col-lg-8 d-flex justify-content-center" th:if="${reservaciones.size() == 0}">
            <div class="alert alert-light my-auto" role="alert">
                <h4> NO TIENES RESERVACIONES</h4>
            </div>
        </div>
        <div class="col-lg-8" th:if="${reservaciones.size() > 0}">
            <ul class="list-group list-group-flush mb-4">
                <li class="list-group-item" th:each="reserv : ${reservaciones}">
                    <div class="d-flex">
                        <h6 class="m-0 mr-2 align-self-center">
                            <i class="fa fa-calendar"></i>
                            <span th:text="${#dates.format(reserv.fecha, 'dd/MM/yyyy')}"></span>
                        </h6>
                        <small class="text-muted align-self-center">
                            <i class="fa fa-users"></i>
                            <span th:text="${reserv.asistentes} + ' personas'"></span>
                        </small>
                        <a href="#" role="button" class="btn btn-outline-danger btn-sm ml-auto"
                           th:if="${reserv.estado == 'CONFIRMADA'}"
                           th:href="@{/reservaciones/{id}/cancelar(id=${reserv.id})}"
                           data-toggle="tooltip" data-placement="right" title="Cancelar"><i class="fa fa-calendar-times-o"></i>
                        </a>
                    </div>
                    <small class="text-muted" th:text="${reserv.estado}"></small>
                </li>
            </ul>
        </div>
    </div>
</div>

<div th:insert="fragments/common-scripts :: common-scripts"></div>
</body>
</html>
